a {
  text-decoration: none;
  color: #fff;
}

.site-header {
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
  background-color: #000;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: left;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
  color: #cfffec;
}

.site-identity img {
  max-width: 55px;
  float: left;
  margin: 0 10px 0 0;
}

.site-navigation {
  float: right;
}

.site-navigation ul, li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

form {
  margin: 1em 0;
}

label {
  display: block;
  margin: 0.5em 0;
}

input[type="text"], input[type="textarea"] {
  width: 60%;
  padding: 0.5em;
  margin-bottom: 1em;
}

button[type="submit"] {
  background-color: #7a2bf9;
  border: none;
  color: white;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}

.success, .failed {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em 0;
}

.success {
  color: #7a2bf9;
}

.failed {
  color: #ff0000;
}
